WEATHER_API_KEY=your_weather_api_key
GEOCODE_API_KEY=your_geocode_api_key
EXCHANGE_RATE_API_KEY=your_exchange_rate_api_key
PORT=3000

NEXT_PUBLIC_WEATHER_API_KEY=your_weather_api_key
NEXT_PUBLIC_GEOCODE_API_KEY=your_geocode_api_key
NEXT_PUBLIC_EXCHANGE_RATE_API_KEY=your_exchange_rate_api_key
