/**
 * Örnek yapılandırma dosyası
 * Bu dosyayı config.js olarak kopyalayın ve API anahtarlarınızı ekleyin
 */

export default {
    // OpenWeather API anahtarınız (https://openweathermap.org/api)
    weatherApiKey: "YOUR_OPENWEATHER_API_KEY",

    // OpenCage Geocoding API anahtarınız (https://opencagedata.com)
    geocodeApiKey: "YOUR_OPENCAGE_API_KEY",

    // ExchangeRate API anahtarınız (https://www.exchangerate-api.com)
    exchangeRateApiKey: "YOUR_EXCHANGERATE_API_KEY"
};